@model IEnumerable<Journaliser.Logic.Domain.Model.JournalEntry>

@{
    ViewBag.Title = "ListJournals";
}

<h2>Journal List</h2>

<table id="journal-list">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th class="created">Created</th>
            <th class="body-text">Body</th>
            <th class="action-delete"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var entry in Model)
            {
                <tr>
                    <td class="title">@entry.Title</td>
                    <td class="created">@entry.CreatedDate</td>
                    <td class="body-text">@entry.BodyText</td>
                    @{
                var deleteLink = string.Format("{0}?id={1}", Url.Content("~/Journal/Delete"), entry.Id);
                        }
                    <td class="action-delete"><a href="@deleteLink">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>


