body {
    background-color: #003366;
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    padding:10px 5px;
}

#header {
}

#title {
    margin:auto;
    text-align:center;
    width:40%;
    background-color:#FFFFFF;
    border:1px solid blue;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.field-data {
    margin:5px 0;
}

    .field-data .editor-label {
        width:160px;
        float:left;
    }
    .field-data .editor-field {
    }
        .field-data .editor-field input {
            width:200px;
        }

#status-links {
    float:right;
    position:relative;
    top:-80px;
    font-size:0.85em;
}
    #logindisplay {
        color: #00FFFF;
    }
        #logindisplay a, #logindisplay a:visited {
            color: #99CCFF;
        }
    #onlineStatus span {
        padding-right:22px;
    }
.status-online {
    color: #00CC99;
}

.status-offline {
    color: #FF9B9B;
}
    
#menucontainer {
    margin: auto;
    text-align: center;
}
    #menucontainer ul {
        -moz-border-radius: 5px 5px 5px 5px;
        border: 1px dotted white;
        list-style: none outside none;
        margin: auto;
        width: 30%;
    }
        #menucontainer ul li {
            display:inline;
            padding:0 15px;
            border-left:1px solid green;
            font-size:0.9em;
        }
        #menucontainer ul li.selected {
            background-color: white;
            padding-top: 15px;
            position: relative;
            top: 10px;
        }
            #menucontainer ul li a {
                color: #BBBBFF;
            }


#main {
    width:70%;
    border:1px solid blue;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin:auto;
    padding:5px 15px;
    background:#FFFFFF;
}

#sync-message {
    color:Lime;
    float: left;
    font-size: 0.8em;
    margin: 20px 30px;
    width: 200px;
}
#sync-message a, #sync-message a:hover,#sync-message a:visited {
    color:Red;
    font-weight:bold;
    margin-left:30px;
    display:none;
}

#sync-message span.status {
    display:none;
    font-size: 0.9em;
    color:Silver; 
    padding: 5px 0px;   
}

/*************************
** Validation and Errors **
**************************/
.validation-summary-errors ul li {
    color:Red;
}