#header {
}

#title {
    margin:auto;
    text-align:center;
}

#status-links {
    float:right;
}
    #logindisplay {
        
    }
    #onlineStatus span {
        float:right;
    }
    
#menucontainer {
    margin: auto;
    text-align: center;
}
    #menucontainer ul {
        list-style:none;
    }
        #menucontainer li {
            display:inline;
            padding:10px;
        }

.status-online {
    color:Green;
}

.status-offline {
    color:Red;
}