@{
    View.Title = "Home Page";
}

<h2>Journaliser - Life history, daily memoirs, more personal and secure than a blog.</h2>
<p>
    <button id="test">Test</button>
    The Journaliser allows you to write personal journals and memoirs which can be maintained whether you are online or offline.
    It is sort of like a blog, but this is more personal. Sure you can share it like a blog but there are plenty of engines and
    tools to do that for you. This is your personal life journal, a diary if you will. Totally secure, exportable if you want it.
    Secure in the sense that if you lose your password to your journal, we cannot get it back for you. Its is geared towards small
    personal and frequest updates, rather than article content intended for public consumtion.
</p>
<p>Did I mention it works when your not connected to the internet too? Yes, we will hold onto your changes while you are offline and
ensure they are sent to the server when you are back online.</p>
